<app-section-header title="upcoming events" buttonText="View all" />

<div class="upcoming-events-grid" style="margin-top: 24px;">
  @for (event of upcomingEvents; track $index) {
  <div class="ticket-card">
    <div class="club-logo">
      <img [src]="event.image" [alt]="event.title" />
    </div>

    <div class="date-container">
      <span class="month">27</span>
      <span class="day">2</span>
      <span class="weekday">Tue</span>
    </div>

    <div class="divider"></div>

    <div class="ticket-content">
      <div>
        <h2 class="match-title">{{ event.title }}</h2>
        <div style="display: flex; gap: 4px">
          <p class="category">{{ event.showType }}</p>
          <p class="venue">{{ event.venue }}</p>
        </div>
        <div class="location">
          <span class="location-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
              <circle cx="12" cy="10" r="3"></circle>
            </svg>
          </span>
          <span class="location-text">{{ event.location }}</span>
        </div>
        <p class="time">{{ event.timeFrom }}</p>
      </div>

      <div class="ticket-price">
        <span class="price">{{ event.price | currency : "INR" }}</span>
        <button class="buy-button">Buy now</button>
      </div>
    </div>
  </div>
  }
</div>
