<app-content-wrapper>
  <div class="banner">
    <!-- Banner image with airplane wing view -->
    <img src="banner.png" alt="Air India Flight View" class="banner-image" />

    <!-- Banner content -->
    <div class="banner-content">
    
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div>
          <div class="logo">
            <span style="color: #d91a60; font-weight: bold">AIR INDIA</span>
          </div>
          <!-- Discount text -->
          <div class="discount">
            20% <span style="font-size: 2rem">OFF</span>
          </div>

          <!-- Deals text -->
          <div class="deals-text">Hot flight deals</div>
        </div>

        <!-- Book now button -->
        <button class="book-button" style="align-self: flex-end">
          Book now
        </button>
      </div>
    </div>
  </div>
</app-content-wrapper>
